.admin-page {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-page
.MuiTableContainer-root {
    width: fit-content;
}

.creds-table-container {
    background-color: var(--neutral-7);
    border-radius: var(--border-radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.add-user-container {
    padding: 10px;
    width: 400px;
    height: 130px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--neutral-7);
    border-radius: var(--border-radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.group-input {
    width: 30px;
    text-align: right;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.send-button {
    width: 40px;
    height: 40px;
    border-width: 1px; 
    border-color: var(--neutral-3); 
    font-weight: 550;
    font-size: 14px;
    color: var(--primary-2); 
    background-color: var(--neutral-7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 3px 0px;
}
.send-button:hover { 
    background-color: var(--primary-6-5);
}
.send-button:active { 
    background-color: var(--neutral-7);
}

.confirm-button {
    width: 40px;
    height: 40px;
    border-width: 1px; 
    border-color: var(--accent-green-2); 
    font-weight: 550;
    font-size: 14px;
    color: var(--accent-green-2); 
    background-color: var(--accent-green-7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 3px 0px;
}
.confirm-button:hover { 
    background-color: var(--accent-green-6);
}
.confirm-button:active { 
    background-color: var(--accent-green-7);
}
