.files-page {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.files-container {
    padding: 10px;
    width: 400px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--neutral-7);
    border-radius: var(--border-radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.directory {
    margin-top: 10px;
    align-content: center;
    display: flex;
    flex-direction: row;
}

.send-button {
    width: 40px;
    height: 40px;
    border-width: 1px; 
    border-color: var(--neutral-3); 
    font-weight: 550;
    font-size: 14px;
    color: var(--primary-2); 
    background-color: var(--neutral-7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 3px 0px;
}
.send-button:hover { 
    background-color: var(--primary-6-5);
}
.send-button:active { 
    background-color: var(--neutral-7);
}
